# RPC endpoint API keys
# These will just be the API key, not the full url
API_KEY_RPC_MAINNET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY_RPC_SEPOLIA=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY_RPC_POLYGON=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY_RPC_MUMBAI=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Block explorer API keys
API_KEY_POLYGONSCAN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY_ETHERSCAN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Private Keys
# These should begin with 0x
PRIVATE_KEY_DEPLOYER=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

